* {
    margin: 5;
    padding: 2;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    /* background-color: maroon; */
}

.navbar .nav-menu .nav-link {
    color: maroon;
    padding: 10px 18px;
    transition: 0.3s ease;
    border-radius: var(--border-radius-m);
}

ul {
    list-style: none;
}
header .navbar {
    display: flex;
    padding: 20px 18px;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-menu{
    display: flex;
    gap: 50px;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}

.navbar .nav-menu .nav-link:hover {

}

.section-content {
    margin: 0 auto;
    padding: 0 50px;
    max-width: var(--site-max-width);
}